doctype html
html(lang="en")
  head
    - var titleTag = siteName
    - if (title) titleTag = title + ' | ' + titleTag
    title= titleTag

    link(rel='stylesheet', href='/public/css/app.css')

    script(src='/public/modernizr/modernizr.js')

  body
    block content

    script(src='/public/jquery/dist/jquery.js')
    script(src='/public/foundation/js/foundation.js')
